<head>
    <link rel="stylesheet" href="css/sales_page.css">
</head>

<body class="boddy">
    <div class="header">
        <h1>Welcome <%= name.toUpperCase() %>
        </h1>
        <div style="display: flex;flex-direction: row; align-items: center;">
            <button type="submit" style="width: 150px; padding: 10px;height: 48px;margin-right: 20px;"><a href="/support" style="text-decoration: none;color: white;">Support</a></button>
            <form action="/logout?_method=DELETE" method="POST">
                <button type="submit">Log out</button>
            </form>
        </div>
    </div>
    <hr style="content: ''; height: 5px; background-color: white;">
    <div class="second">
        <h1>Projects :</h1>
        <form>
            <input type="text" name="" id="search-project" placeholder="Search Projects">
            <button type="button" onclick="search()">Search</button>
            <button type="button"><a style="text-decoration:none; color:white;" href="./">Reset</a></button>
        </form>
    </div>
    <div id="project-container">
    </div>
    <script src="scripts/functions_customer.js"></script>
</body>